@font-face {
    font-family: 'knockout29';
    src: url("../fonts/knockout29/Knockout-HTF29-JuniorLiteweight.eot"); /* IE9 Compat Modes */
    src: url("../fonts/knockout29/Knockout-HTF29-JuniorLiteweight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/knockout29/Knockout-HTF29-JuniorLiteweight.otf") format("opentype"), /* Open Type Font */
      url("../fonts/knockout29/Knockout-HTF29-JuniorLiteweight.svg") format("svg"), /* Legacy iOS */
      url("../fonts/knockout29/Knockout-HTF29-JuniorLiteweight.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/knockout29/Knockout-HTF29-JuniorLiteweight.woff") format("woff"), /* Modern Browsers */
      url("../fonts/knockout29/Knockout-HTF29-JuniorLiteweight.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knockout31';
    src: url("../fonts/knockout31/Knockout-HTF31-JuniorMiddlewt.eot"); /* IE9 Compat Modes */
    src: url("../fonts/knockout31/Knockout-HTF31-JuniorMiddlewt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/knockout31/Knockout-HTF31-JuniorMiddlewt.otf") format("opentype"), /* Open Type Font */
      url("../fonts/knockout31/Knockout-HTF31-JuniorMiddlewt.svg") format("svg"), /* Legacy iOS */
      url("../fonts/knockout31/Knockout-HTF31-JuniorMiddlewt.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/knockout31/Knockout-HTF31-JuniorMiddlewt.woff") format("woff"), /* Modern Browsers */
      url("../fonts/knockout31/Knockout-HTF31-JuniorMiddlewt.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'knockout29', 'Trebuchet MS', 'Lucida Sans Serif';
}

/* Header */
header{
    border-bottom: 2px solid #8f4a00;
    padding-top: 1%;
}

.site-title {
    font-family: 'knockout31', 'Trebuchet MS', 'Lucida Sans Serif';
    font-size: 2.3em;
    color: /*#008f83;*/#f89c2a;
}

#bobard{
    /*color: #768f00;*/
    font-size: 1em;
}



.fa-angle-double-up {
    color: black;
}

/* Tout */
.content {
    margin: 4% 0%;

}



a, a:hover, a:visited{
    text-decoration: none;
    color: #b02907;
    /*color: #00328f;*/
}


/* Bouton-lien */
/*.button {
    background-color: #f89c2a;
    border-radius: 5px;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}*/

/* Tableaux */


thead {
    background-color: #d1d1d1;
}


/* Tableau derniers articles */
.last_posts th:nth-child(1), .last_posts td:nth-child(1) {
    width: 40%;
}

.last_posts th:nth-child(2), .last_posts td:nth-child(2) {
    width: 10%;
}

.last_posts th:nth-child(3), .last_posts td:nth-child(3) {
    width: 20%;
}

.last_posts th:nth-child(4), .last_posts td:nth-child(4) {
    width: 30%;
}


/* Tableau des catégories */
.categories_list th:nth-child(1), .categories td:nth-child(1) {
    width: 30%;
}

.categories_list th:nth-child(2), .categories td:nth-child(2) {
    width: 80%;
}


/* Tableau des articles par catégorie */
.posts_category th:nth-child(1), .posts_category td:nth-child(1) {
    width: 50%;
}

.posts_category th:nth-child(2), .posts_category td:nth-child(2) {
    width: 20%;
}

.posts_category th:nth-child(3), .posts_category td:nth-child(3) {
    width: 30%;
}


.category {
    font-size: 1.5em;
}

.title {
    font-size: 1.2em;
}
